@use 'partials/colors';
@use 'partials/mixins';

@mixin buttons-styles() {
  padding: 1em;
  border: solid 1px black;
  border-radius: 12px;
}

button {
  @include buttons-styles();
  @include centered;
}
