$primary: #f4f4f4;
$secondary: #640fc5;
$info: #0e6cff;
$login: #ff8700;
$contacts: #4caf50;

$colors-map: (
  primary: $primary,
  secondary: $secondary,
  info: $info,
  login: $login,
  contacts: $contacts,
);

@each $name, $value in $colors-map {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}
