@mixin main-title {
  font: {
    size: 40px;
    weight: bold;
    family: $my-font;
  }
  color: black;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin floating {
  border-radius: 15px;
  box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.33);
  border: solid 1px grey;
}

.float {
  @include floating();
}

@mixin to-space {
  justify-content: space-between;
}

.get-space {
  @include to-space();
}

