$spacings-map: (
  sm: 0.5em,
  normal: 1em,
  md: 1.5em,
  lg: 2em,
  xl: 2.5em,
  xxl: 3em,
);

@each $name, $value in $spacings-map {
  .padding-block-#{$name} {
    padding-block: #{$value};
  }

  .margin-block-#{$name} {
    margin-block: #{$value};
  }
}

$displays-map: (
  padding-block: padding-block,
  padding-inline: padding-inline,
  margin-block: margin-block,
  margin-inline: margin-inline,
);

@each $d-name, $d-value in $displays-map {
  @each $s-name, $s-value in $spacings-map {
    .#{$d-name}-#{$s-name} {
      #{$d-value}: #{$s-value};
    }
  }
}

$flex-map: (
  flex: flex,
  block: block,
  inline: inline,
);

$f-directions-map: (
  column: column,
  row: row,
);

@each $flex-name, $flex-value in $flex-map {
  @each $direction-name, $direction-value in $f-directions-map {
    .#{$flex-name}-#{$direction-name} {
      #{$flex-value}: #{$direction-value};
    }
  }
}

nav {
  display: block;
  width: 100%;
  ul {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    text-align: center;
    li {
      margin: 0.5em;
      font-family: $my-font;
      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}

main {
  display: flex;
}

.flex {
  display: flex;
}
